//* FONTS
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
// @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");

//* SCSS PARTIALS
@import "./partials/resets";
@import "./partials/utils";

//* VARIABLES

$lora: "Lora",
serif;
$fira: "Fira Sans",
sans-serif;
$mont: "Montserrat",
sans-serif;
$raleway: "Raleway",
sans-serif;
$oswald: "Oswald",
sans-serif;

$red: #fd7b74;
$yellow: #f9b200;
$green: #94ea2f;
$cyan: #4ef3d4;//#2feac6;
$blue: #4d73ef;
$pink: #ea83cc;
$dark: #4b4b4b;
$light: white;

body {
  font-family: "Montserrat";
  background-color: $light;
  color: $dark;
  font-size: 16px;
  // cursor: none !important;
}

.layout {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: [colFirst] 4% [col2] 1fr [col3] 1fr [col4] 4% [colEnd];
  grid-template-rows: [rowFirst] 6% [row2] 4% [row3] 80% [row4] 4% [row5] 6% [rowEnd];
  grid-template-areas:
    ".    .     .     ."
    ". breadCrumb menu ."
    ". content-1 content-2 ."
    ". logo button ."
    ".    .     .     .";

  @include breakpoint(sm) {
    grid-template-columns: [colFirst] 8% [col2] 1fr [col3] 1fr [col4] 8% [colEnd];
    grid-template-rows: [rowFirst] 2% [row2] 6% [row3] 80% [row4] 4% [row5] 8% [rowEnd];
    grid-template-areas:
      ".    .     .     ."
      ". breadCrumb menu ."
      ". content-1 content-2 ."
      ". logo button ."
      ".    .     .     .";
  }
}

.content {
  grid-area: 1 / 2 / 4 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "content-1 content-2";
}

.link {
  grid-area: button;
  justify-self: right;
}

.menu-layout {
  z-index: 999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: $light;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: [colFirst] 5% [col2] 1fr [col3] 1fr [col4] 1fr [col5] 5% [colEnd];
  grid-template-rows: [rowFirst] 5% [row2] 5% [row3] 40% [row4] 40% [row5] 5% [row6] 5% [rowEnd];
  grid-template-areas:
    ". . line . ."
    ". . . button ."
    ". info social . ."
    ". info links links ."
    ". . . . ."
    ". . . . .";

  @include breakpoint(sm) {
    grid-template-columns: [colFirst] 8% [col2] 1fr [col3] 1fr [col4] 8% [colEnd];
    grid-template-rows: [rowFirst] 8% [row2] 42% [row3] 42% [row4] 8% [rowEnd];
    grid-template-areas:
      " line . . ."
      " . info social ."
      " . links links ."
      " . . . .";
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  Body {
    font-size: 14px;
  }
}